.div_dashboard-stock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header_dashboard-stock {
    width: 100%;
    height: 97px;
    background-color: #FFFFFF;
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_dashboard-stock h1 {
    height: 40px;
    color: #1F211E;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 2px solid #9DAD90;
    margin-left: 10%;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 8px;
}

.header_dashboard-stock h2 {
    height: 40px;
    color: #1F211E;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div_content-stock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div_table-stock {
    width: 80%;
    height: 376px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 25px 25px 32px;
    margin-right: 24px;
}

.div_table-stock header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #1F211E20;
    margin-bottom: 25px;
}

.div_table-stock h2 {
    color: #1F211E;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div_table-stock h3 {
    color: #80AE00;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table_table-stock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.table_table-stock thead {
    width: 100%;
    margin-bottom: 27px;
}

.table_table-stock tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table_table-stock th {
    color: #9DAD90;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.table_table-stock tbody {
    width: 100%;
    overflow-y: auto;
}

.table_table-stock tbody td {
    color: #1F211E;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
}

.table_table-stock tbody td .indicator {
    width: 10px;
    max-width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 4px;
}

.div_td_stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
