.button_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 332px;
    height: 40px;
    background-color: #1F5207;
    border-radius: 8px;
}

.button_button:active {
    transform: scale(0.98);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.p_button {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
}
